#gridPrincipal{
    width: 90%;
    max-height: 450px;
    overflow-y: hidden;
    margin-top: 105px;
    padding: 10px;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    padding: 5px;
  }


.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -15px;
    margin-left: 35%;
  }

  .card-header{
      margin-top: 60px;
      margin-left: 30%;
  }

.fieldMedio{
  width: 48%;
  padding: 5px;
}

.fieldGrande{
  width: 100%;
}

.fieldPequeno{
  width: 31%;
  padding: 5px;
}

mat-card-footer{
  text-align: end;
  padding: 10px;
}

.btnSalvar{
  width: 40%;
  background: rgb(253, 63, 50);
  color: white;
}

.btnLimpar{
  width: 20%;
  background: rgb(70, 68, 92);
  color: white;
  margin-right: 4px;
}

.formHeader{
  position: absolute;
  width: 48%;
  height: 60px;
  margin-top: -70px;
  padding-left: 20px;
  margin-left: 25px;
  padding-top: 20px;
  background: rgb(250, 93, 82);
  color: white;
  z-index: 2;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 100;
  box-shadow: 0px 5px 5px rgb(168, 168, 168);
}

.subTitle{
  font-size: 15px ;
  color: rgb(216, 216, 216);
}

mat-card{
  z-index: 1;
}

.item{
  box-shadow: 0px 0px 5px rgb(172, 171, 171);
}

