.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 17%;
  box-shadow: 0px 0px 20px rgb(153, 153, 153);
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.container {
  margin-top: 25px;
  margin-left: 20px;
}

#lista{
  padding: 10px;
}

.itemLista{
  margin-top: 10px;
  border-radius: 5px;
  color: rgb(133, 133, 133);
  padding-left: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

.itemLista:focus {
  background: rgb(253, 63, 50);
  box-shadow: 0px 0px 10px rgb(83, 83, 83);
  transition: 0.2s ease-in;
  color: white;
}

#icon{
  margin-right: 25px;
}

#titleMenu{
  padding-left: 40px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgb(77, 77, 77);
}


#sidenavAdjacente mat-toolbar{
  padding-top: 20px;
  background: rgb(249, 249, 249);
}

#iconSoma{
  width: 40px;
  height: 40px;
}

.form-field {
  width: 30%;
  color: rgb(148, 148, 148);
  padding: 10px;
  font-size: 15px;
  margin-left: 40px;
}

#search{
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background: white;
  box-shadow: 0px 0px 10px rgb(201, 200, 200);
  border: none;
}

#search:hover{
  transition: 0.4s ease-in;
  box-shadow: 0px 0px 20px rgb(146, 146, 146);
}

#search mat-icon{
  margin-top: 5px;
  color: rgb(148, 148, 148);
  font-size: 20px;
}

#btnViewPerfil{
  margin-left: 5px;
  background: none;
  border: none;
  color: rgb(148, 148, 148);
}

.example-card {
  max-width: 400px;
  height: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#btnViewAjuda{
  color: rgb(148, 148, 148);
  margin-left: 55%;
  background: none;
  border: none;
}

#btnViewAjuda:focus{
  color: rgb(95, 95, 95);
}

#btnViewPerfil:focus{
  color: rgb(95, 95, 95);
}



