<!--Cards // Receita, despesas fixas com descrição das despesas e calendario -->
<!--Card Receita-->
<section id="cardsPrincipais">
    <ul id="listaCards">
        <li id="cardReceita">
            <mat-card>
                <mat-card-header>
                  <div mat-card-avatar id="iconReceita" class="ajustesIconP" >
                      <mat-icon class="material-icons-outlined" id="icon">
                        savings
                      </mat-icon>
                    </div>
                  <mat-card-subtitle>Receita</mat-card-subtitle>
                  <mat-card-title>R$ 000,00</mat-card-title>
                </mat-card-header>
              </mat-card>
        </li>

        <!--Card Despesa-->
        <li id="cardDespesa">
            <mat-card>
                <mat-card-header>
                  <div mat-card-avatar id="iconDespesa">
                      <mat-icon class="material-icons-outlined" id="icon">
                        report_problem
                      </mat-icon>
                    </div>
                  <mat-card-subtitle>Despesas Fixas</mat-card-subtitle>
                  <mat-card-title>R$ 000,00</mat-card-title>
                  <button id="btnDespesaDetalhe" [matMenuTriggerFor]="despesaMenu">
                    <mat-icon class="material-icons">
                        more_vert
                    </mat-icon>
                  </button>
                  <mat-menu #despesaMenu="matMenu" xPosition="before">
                    <mat-list>
                      <mat-list-item>Despesa 1</mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>Despesa 2</mat-list-item>
                      <mat-divider></mat-divider>
                      <mat-list-item>Despesa 3</mat-list-item>
                    </mat-list>
                  </mat-menu>
                </mat-card-header>
              </mat-card>
        </li>

        <!--Card Calendario-->
        <li id="cardCalendario">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar id="iconCalendario" class="ajustesIconP">
                        <mat-icon class="material-icon" id="icon">
                            event_avilable
                        </mat-icon>
                    </div>
                    <mat-card-subtitle>Calendario</mat-card-subtitle>
                    <mat-card-title class="cardTitle">
                        <input matInput type="date">
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </li>
    </ul>
</section>

                          <!--Cards// produtos, lembretes e metas-->

  <section id="gridPrincipal">
    <div class="container">

      <!--Card Lembretes-->
      <div class="item card-1">
        <mat-card class="cardAjuste">
          <mat-card-header>
            <div mat-card-avatar id="iconLembrete" class="ajustesIconS">
              <mat-icon class="material-icon" class="ajusteIcon">
                  preview
              </mat-icon>
          </div>
            <mat-card-title class="ajusteTitle"><p>Lembretes</p></mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae et dignissimos doloremque saepe esse at assumenda repudiandae, unde ipsum minima culpa vero iusto laboriosam provident earum laudantium molestiae laborum quam?
          </mat-card-content>
        </mat-card>
      </div>

      <!--Card Produtos-->
      <div class="item card-2">
        <mat-card id="cardProdutos">
          <mat-card-header>
            <div mat-card-avatar id="iconProdutos" class="ajustesIconS">
              <mat-icon class="material-icon" class="ajusteIcon">
                  view_in_ar
              </mat-icon>
          </div>
            <mat-card-title class="ajusteTitle">produtos</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae et dignissimos doloremque saepe esse at assumenda repudiandae, unde ipsum minima culpa vero iusto laboriosam provident earum laudantium molestiae laborum quam?
          </mat-card-content>
        </mat-card>
      </div>

      <!--Card Metas-->
      <div class="item card-3">
        <mat-card class="cardAjuste">
          <mat-card-header>
            <div mat-card-avatar id="iconMetas" class="ajustesIconS">
              <mat-icon class="material-icon" class="ajusteIcon">
                  done_all
              </mat-icon>
          </div>
            <mat-card-title class="ajusteTitle">metas</mat-card-title>
          </mat-card-header>
          <mat-divider class="divider"></mat-divider>
          <mat-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae et dignissimos doloremque saepe esse at assumenda repudiandae, unde ipsum minima culpa vero iusto laboriosam provident earum laudantium molestiae laborum quam?
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </section>

    