<section id="gridPrincipal">
    <div class="container">

      <!--Detalhe Lembrete-->
        <div>
          <div class="formHeader">
            <p>Detalhes</p>
            <p class="subTitle">Aqui poderá visualizar mais informações</p>
          </div>
            <mat-card  class="item">
               <mat-card-header >
               </mat-card-header>
               <form>
                <mat-card-content class="content">

                    <label><p class="titles">Nome: </p> <p class="subtitles">{{produto.nome}}</p></label> <br>
                    <label><p class="titles">Preco de Fabricação: </p> <p class="subtitles">{{produto.preco_fabrica}}</p></label> <br>
                    <label><p class="titles">Margem de Lucro: </p> <p class="subtitles">{{produto.margem_lucro}}</p></label> <br>
                    <label><p class="titles">Descrição: </p> <p class="subtitles">{{produto.desc}}</p></label> <br>
               
                  <!--Voltar-->
                </mat-card-content> 
               <mat-card-footer>
                 <button class="btnVoltar" mat-raised-button routerLink="/produtos">Voltar</button>
               </mat-card-footer>
               </form>
            </mat-card>
        </div> 
